<header class="p-3 w-full fixed top-0 z-50 bg-linear-to-r from-blue-500 to-indigo-600 shadow-md">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <div class="text-white">
      <a routerLink="/" class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6">
        <h3 class="text-2xl font-semibold uppercase">Dev Pulse ZA</h3>
      </a>
    </div>

    <div class="flex align-middle ml-auto gap-3">
      <app-theme-button class="ml-auto" />
    </div>
  </div>
</header>
