<div class="flex flex-row w-full gap-6 min-h-100">
  <!-- Main Content -->
  <div class="flex flex-col gap-6 w-full">
    <div class="grid grid-cols-2 gap-6">
      @for (article of articleService.articleList(); track article.id) {
        <app-article-card [article]="article" />
      }
    </div>
  </div>

  <!-- Sidebar -->
  <div class="flex flex-col gap-6 w-1/4">
    <div class="rounded-2xl shadow-md p-4 bg-white hover:shadow-lg transition">
      <h3 class="text-sm font-semibold text-gray-500 mb-2">Top Articles</h3>
      <ul class="text-sm text-gray-600">
        @for (article of articleService.topArticleList(); track article.id) {
          <li routerLink="/article/{{ article.id }}" class="mb-1 cursor-pointer hover:text-blue-500">{{ article.title }}</li>
        }
      </ul>
    </div>

    <div class="rounded-2xl shadow-md p-4 bg-white hover:shadow-lg transition">
      <h3 class="text-sm font-semibold text-gray-500 mb-2">Categories</h3>
      <ul class="text-sm text-gray-600">
        @for (category of articleService.categoryList(); track category.id) {
          <li class="mb-1 cursor-pointer hover:text-blue-500">{{ category.name }}</li>
        }
      </ul>
    </div>
  </div>
</div>
